@font-face {
  font-family: 'TaticSans';
  src: url('.fonts/tactic-sans-bold.woff2') format('woff2'),
       url('.fonts/tactic-sans-bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
